@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(105, 105, 105);
    font-family: "Merriweather", Times, serif;
    background-color: rgb(254, 252, 243);
}
