@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.LiteratureTime {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

#main_text {
    width: 60vw;
    margin: auto;
    color: dimgrey;
    font-family: "Merriweather", Times, serif;
}

#lit_quote {
    font-size: 2.5vw;
}

#lit_quote em {
    font-weight: 900;
    color: rgb(19, 19, 19);
    font-style: normal;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: 1.3vw;
}

cite #book {
    font-style: normal;
}

cite #book::before {
    content: " ";
    white-space: pre;
}

cite #author::before {
    content: " ";
    white-space: pre;
}
