.quote {
    display: flex;
    justify-content: center;
}

#lit_quote {
    font-size: 3vw;
    width: 60vw;
}

#lit_quote em {
    font-weight: 900;
    color: rgb(19, 19, 19);
    font-style: normal;
}

.cite {
    display: flex;
    justify-content: center;
}

#lit_cite {
    width: 60vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-end;
}

#lit_cite #book {
    font-style: normal;
}

#lit_cite #book::before {
    content: " ";
    white-space: pre;
}

#lit_cite #author::before {
    content: " ";
    white-space: pre;
}
